*,*::before,*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    background-color: #546E7A;
    color: #fff;
    margin: 0px;
}

h4{
    text-align: center;
    margin: 0;
}

/* Header */

header{
    width: 100%;
    display: flex;
}

header .left{
    background-color:#29434E;
    color: #fff;
    text-align: center;
    width: 70%;
    height: 70px;
}

header .right{
    background-color: #29434E ;
    color: #fff;
    width: 30%;
    height: 70px;
}

/* content */

main{
    width: 100%;
}

#polecamy,#fantastyczne{
    background-color:#B0BEC5 ;
    height: 320px;
    overflow-y: scroll;
    overflow-x: scroll;
}


.movie{
    display: flex;
    width: 100%;
}

figure{
    padding: 5px;
    width: 226px;
    height: 280px;
}

figcaption{
    margin-top: 10px;
}




/* footer */
footer{
    width: 100%;
    background-color:#29434E;
    color: #fff;
}